.btn {
    padding: 0;
    transition: 0.5s;
    border: 0;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #18181B;

    &:hover {
        background-color: #53535F;
    }

    &:focus {
        outline: -webkit-focus-ring-color auto 0;
    }

    &:active {

    }
}
